<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Stagem_OrderMapTracking::maptracking"
             title="Order Map Tracking"
             module="Stagem_OrderMapTracking"
             sortOrder="200"
             parent="Magento_Sales::sales_operation"
             action="map_tracking/tracking"
             resource="Stagem_OrderMapTracking::maptracking" />
    </menu>
</config>
